.demo-1 .column-1{
    border-style: double;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
.demo-2 .column-1{
    border-style: double;
    background-color: orangered;
}
.demo-3 .column-1{
    border-style: double;
    background-color: black;
}
.demo-3 .column-2{
    border-style: double;
    background-color: black;
}
.demo-3 .column-3{
    border-style: double;
    background-color: black;
}
.demo-3 .column-4{
    border-style: double;
    background-color: black;
}
.demo-3 .column-5{
    border-style: double;
    background-color: black;
}
.demo-3 .column-6{
    border-style: double;
    background-color: black;
}
.demo-3 .column-7{
    border-style: double;
    background-color: black;
}
.demo-3 .column-8{
    border-style: double;
    background-color: black;
}
.demo-3 .column-9{
    border-style: double;
    background-color: black;
}
.demo-4 .column-1{
    border-style: double;
    background-color: orangered;
}
.demo-5 .column-1{
    border-style: double;
    background-color: orangered;
    padding-top: 9%;
    padding-bottom: 9%;
}
.demo-6 .column-1{
    border-style: double;
    background-color: orangered;
    padding-top: 9%;
    padding-bottom: 9%; 
}
.demo-7 .column-1{
    border-style: double;
    background-color: black;
}
.demo-8 .column-1{
    border-style: double;
    background-color: black;
}
.demo-9 .column-1{
    border-style: double;
    background-color: black;
}
.demo-10 .column-1{
    border-style: double;
    background-color: black;
}
.demo-11 .column-1{
    border-style: double;
    background-color: black;
}
.demo-12 .column-1{
    border-style: double;
    background-color: orangered;
}