
.demo-2 .column-1{
    background-color: silver;
    padding-top: 20%;
    padding-bottom: 20%;
}

.demo-2 .column-2{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: large;
    font-weight: bold;
}

.demo-3 .column-1{
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2em;
    font-weight: bold;
}
.demo-3 .column-2{
    background-color: whitesmoke;
    font-size: 1.5em;
    padding-top: 2%;
    line-height: 1.8em;
}
.demo-3 .column-3{
    background-color: white;
    font-size: 2em;
}
.demobtn-1 .column-1{
    background-color: teal;
   
}
.demobtn-2 .column-1{
    background-color: teal;
  
}
.demo-5 .column-1{
    background-color: silver;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 3em;
}
.demo-6 .column-1{
    background-color: whitesmoke;
    font-size: 2em;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}
.demo-7 .column-1{
    background-color: teal;
    font-size: 1em;
}
.demo-8 .column-1{
    background-color: silver;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 2em;
}
.demo-8 .column-2{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: large;
    
}
.demo-9 .column-1{
    background-color: silver;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 2em;
}
.demo-9 .column-2{
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: large;
    
}
