.demo-1 .column-1{
    background-color: silver;
    padding-top: 5%;
    padding-bottom: 5%;
}
.demo-1 .column-2{
    background-color: silver;
    padding-top: 5%;
    padding-bottom: 5%;
}
.demo-1 .column-3{
    background-color: silver;
    padding-top: 5%;
    padding-bottom: 5%;
}
.demo-1 .column-4{
    background-color: silver;
    padding-top: 5%;
    padding-bottom: 5%;
}

.demo-2 .column-1{
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}
.demo-2 .column-2{
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}
.demo-2 .column-3{
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}
.demo-2 .column-4{
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 1%;
}
.demo-3 .column-1{
    background-color: whitesmoke;
}
.demo-3 .column-2{
    background-color: whitesmoke;
}
.demo-3 .column-3{
    background-color: white;
}
.demo-5 .column-1{
    background-color: silver;
    padding-top: 5%;
    padding-bottom: 5%;
}
.demo-6 .column-1{
    background-color: whitesmoke;
}
.demo-7 .column-1{
    background-color: aqua;
}