
/* .demo{
    padding-bottom: 150px;
    padding-top: 150px;
} */
.demo .column-1{
    border-style: double;
    background-color: black;
    color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}
.demo .column-2{
    border-style: double;
    background-color: black;
    color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}
.demo .column-3{
    border-style: double;
    background-color: black;
    color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}
.demo-2{
    border-style: double;
    background-color: black;
}

.demo-3 .column-1{
    border-style: double;
    background-color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}
.demo-3 .column-2{
    border-style: double;
    background-color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}
.demo-3 .column-3{
    border-style: double;
    background-color: white;
    padding-bottom: 150px;
    padding-top: 150px;
}